@import './var.scss';


body 
{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

a
{
    text-decoration: none;
}


.mars_logo
{
    width: 40px;
    border-radius: 25px;
    margin-bottom: 10px; 
}

.logo_left_panel
{
    height: 25px;
    filter: invert(100%);
}

.left_panel
{
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(60, 219, 206);
    height: 100%;
    width: 300px;
}

.left_panel_text
{
    width: 80%;
    margin-left: auto;
    margin-right: 1%;
}

.block
{
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    padding-top: 5px;
    height: 40px;
    width: 300px;
    font-family: $fonts;
    font-size: 20px;
}

/* purchase tracker */

.work_zone
{
    box-sizing: border-box;
    padding: 2px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.name
{
    width: 100%;
    height: 50px;
}

.name img 
{
    height: 45px;
}

.panel_top_setting
{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    padding: 5px;
    font-family: $fonts;
    border: 1px solid #1D88D4;
}

.setting
{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.column
{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 7px;
}

.column_right
{
    width: 50%;
    margin-left: auto;
    margin-right: 5%;
}



.panel_cen_funct
{
    background-color: rgb(226, 253, 250);
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    border: 1px solid #1D88D4;
    border-top: 0px solid #ffffff;
    font-size: 20px;
    font-family: $fonts;
    color: $text_table_color;
}

.blok_cen_funct
{
   width: 100%;
   height: 100%;
   font-size: 20px;
   font-family: $fonts;
}

.blok_cen_funct_nested
{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin: 15px;
}

.panel_cen_funct_logo
{
    width: 20px;
    height: 20px;
}


.panel_table
{
    width: 100%;
    height: 200px;
}

.panel_table_text
{
    font-size: 20px;
}

table
{
    border-collapse: collapse;
}

tr 
{
    border: none;
}

td, th
{
    box-sizing: border-box;
    font-family: $fonts;
    color: $text_table_color;
    border-bottom: 1px solid $main_color;
    padding: 10px 15px;
}

tr:hover td 
{
    background: #e8edff;
}












.input{
    color: $main_color;
    border-width: 1px;
    border: 1px solid #1D88D4;
    font-size: 20px;
    height: 25px;
    width: 100%;
    background: #ffffff;
    border-radius: 0px;
    text-align: center;
    outline: none;
    font-family: $fonts;
    padding-right: 3px;
}

.button_sub{
    margin: 5px;
    color: rgb(255, 255, 255);
    background: #1D88D4;
    height: 35px;
    width: 75%;
    border-radius: 7px;
    outline: none;
    font-size: 20px;
    font-family: $fonts;
    border-width: 1px;
  }

.button_sub:hover
{
    background-color: white;
    color: #1D88D4;
    border-color: #1D88D4;
    border-width: 1px;

}
















/* check_box________________________________________________________________________________ */

.checkbox
{
    height: 20px;
    width: 20px;
    margin-left: calc(50% - 10px);
}

 /* check_box________________________________________________________________________________ */
  